nav ul{
    display: flex;
    justify-content: flex-end;
}
header{
    background-color: white;
}
nav ul li {
    display: inline;
    padding-right:20px;
    border: 3px solid rgb(35, 29, 29);
    padding: 10px;   
}
nav a{
    text-decoration:none;
}
body{
   background-color: white;
    color:black;
}
.container{
    display: flex;
    margin-top: 100px;
}
.child1{
    border: 5px solid rgb(250, 250, 250) ;
    padding: 100px;
}
.child{
    margin-left: 10px;
}
.class3{
    display: flex;
    justify-content: space-evenly;
}
label{
    font-size:50px ;
}

